body{
    margin-top: 20%;
    background: -webkit-linear-gradient(left,#e4e1e1,white);
}
h1,h2{
    font-size: 3.125rem; 
     display: flex;
    justify-content: center; 
    background: -webkit-linear-gradient(left,#87c7df,#648896); 
     -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
input{
    width:400px;
    height: 50px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-left: 80px;
    background: -webkit-linear-gradient(left,#87c7df,#648896); 
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
button{
    height: 50px;
    /* color: aqua; */
    background: -webkit-linear-gradient(left,#87c7df,#648896); 
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
